# sharkive | .editorconfig
# CC0 Public Domain

# this is the topmost file
root = true

# all files are text
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

# spacing, not indentation
[.gitattributes]
indent_style = space
indent_size = 1
